<div class="form-card">
  <h2>NOUVEAU FACESNAP</h2>
  <form [formGroup]="snapForm">
    <div class="form-group">
      <mat-form-field>
        <mat-label for="title">Titre</mat-label>
        <input matInput id="title" type="text" formControlName="title">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label for="description">Description</mat-label>
        <textarea matInput id="description" type="text" formControlName="description" rows="4"></textarea>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label for="title">URL de l'image</mat-label>
        <input matInput id="imageUrl" type="text" formControlName="imageUrl">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label for="location">Lieu</mat-label>
        <input matInput id="location" type="text" formControlName="location">
      </mat-form-field>
    </div>
    <div class="action-buttons">
      <button mat-flat-button type="submit" (click)="onSubmitForm()" [disabled]="snapForm.invalid">Enregistrer</button>
    </div>
  </form>
</div>
<div class="face-snap-card" *ngIf="faceSnapPreview$ | async as faceSnap">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <p>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
</div>
