<div class="face-snap-card" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{ snapped: buttonText === 'unSnap' }">
  <mat-card class="example-card" appearance="outlined" [ngClass]="{ snapped: buttonText === 'unSnap' }">
    <mat-card-header>
      <mat-card-title>{{ faceSnap.title | uppercase }}</mat-card-title>
      <mat-card-subtitle>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <mat-card-content>
      <p>{{ faceSnap.description }}</p>
      <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onSnap(faceSnap.id)">{{ buttonText }}</button>
      <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ', 0)'}">👍 {{ faceSnap.snaps }}</span>
    </mat-card-actions>
  </mat-card>
</div>